- title 'Sign up to easyBacklog'
- content_for :head do
  = include_javascripts :validation
  = include_javascripts :register

- content_for :title do
  %h1= "Get access to the backlogs of #{@invite_account.name}"

#invite
  %p
    = "You have been sent an invite to join the account for #{@invite_account.name} on easyBacklog."
    In order to gain access to this account you will either need to register for free now, or log in using your existing account.
  .sign-up
    %h2 Register for free
    = form_for('user', :url => registration_path(@user), :html => { :id => 'user_new'} ) do |f|
      != render :partial => '/devise/registrations/form', :locals => { :f => f,  :resource => @user }
      %p= f.submit "Register"
  .or
    OR
  .login
    %h2 Log in
    = render :partial => '/devise/sessions/form'