- content_for :title do
  %h1 Sign up to easyBacklog
- content_for :head do
  = include_javascripts :validation
  = include_javascripts :register

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  %p
    Please complete all fields below to set up a new account.

  #sign-up
    - unless @account.blank?
      %h2.divider
        Account details
        %span.hint (step 1 of 2)
      - unless @account.errors.empty?
        .form_errors
          The account details were not completed correctly.  Please correct the following fields to register:
          %ul
            - @account.errors.full_messages.each do |error|
              %li
                = error
      .data-area
        = hidden_field_tag :show_account_setup, 'true'

        = fields_for @account do |f|
          != render :partial => '/accounts/form', :locals => { :f => f, :account => @account }

    %br
    %h2.divider
      Your details
      %span.hint (step 2 of 2)
    .data-area.no-padding
      != render :partial => 'form', :locals => { :f => f }

    %p
      = f.submit "Sign up"
      .waiting
        %div.icon
          %span.progress-icon
        %div
          Please wait a few seconds whilst we prepare your account, we're busy at work.


= render :partial => "devise/shared/links"
