= f.label :name, "Account Name"
.input-row
  = f.text_field :name

= f.label :locale_id, "What is your preferred language setting?", :class => 'spacer'
.input-row
  = select(:company, "locale_id", [[ 'Select a locale...', nil ]].concat(Locale.order("position").map { |p| [ p.name, p.id ] }) )
.form-hint
  We use this to ensure currency amounts and formatting is accurate to your locality.

= f.label :default_rate, "Default day rate", :class => 'spacer'
.input-row
  = f.text_field :default_rate
.form-hint
  The rate per day you charge (do not use a currency symbol i.e. enter 800 for $800 per day)

= f.label :default_velocity, "Default velocity achieved per day", :class => 'spacer'
.input-row
  = f.text_field :default_velocity
.form-hint
  The velocity is the average number of points you complete in a day

.input-row.for-check-box
  = f.check_box :default_use_50_90
  = f.label :default_use_50_90, "By default, use the 50/90 estimation method"
.form-hint
  If you are not sure what the
  = link_to '50% / 90% estimation method', 'http://www.calgaryapln.org/files/AgileEstimationandPlanning.pdf', :target => '_blank'
  is, then leave this unchecked.

