- content_for :title do
  = link_to "Manage account", edit_account_path(current_account), :class => 'back'
  - if current_user.accounts.count > 1
    .back
      |
    = link_to "View other accounts", accounts_path, { :class => 'back' }
  %h1
    = @account.name

- content_for :side_panel do
  .button-container
    = link_to "Create a new backlog", new_account_backlog_path(@account), { :class => 'button' }
  %h2 Your backlogs
  %ul.your-backlog-list
    - @your_backlogs.each do |backlog|
      %li
        .name
          = link_to backlog.name, account_backlog_path(@account, backlog)
        .action
          = link_to "Duplicate", duplicate_account_backlog_path(@account, backlog), :class => 'ui-icon ui-icon-copy vtip', :title => 'Duplicate backlog'
        .action
          = link_to "Archive", archive_account_backlog_path(@account, backlog), :method => 'put', :title => 'Archive backlog', :confirm => 'Are you sure you want to archive this backlog?', :class => 'ui-icon ui-icon-disk vtip'
        .action
          = link_to "Delete", account_backlog_path(@account, backlog), :method => 'delete', :title => 'Delete backlog', :confirm => 'This backlog will be permanently deleted and cannot be recovered. Are you sure?', :class => 'ui-icon ui-icon-trash vtip'
  - if @archive_exists
    .archive-link
      = link_to "View archived backlogs", archives_account_path(@account)