- title 'Edit company account'

- content_for :title do
  %h1 Edit company account

= form_for(@company) do |f|
  - unless @company.errors.blank?
    .form_errors
      The form was not completed correctly.  Please correct the following fields to register:
      %ul
        - @company.errors.full_messages.each do |error|
          %li
            = error
  != render :partial => 'form', :locals => { :f => f }

  %br/
  %br/
  = f.submit "Update company"
  = link_to 'cancel', company_path(@company)
