- title 'Edit Company Defaults'
- content_for :head do
  = include_javascripts :validation
  = include_javascripts :manage_backlog

- content_for :title do
  %h1 Edit Company Defaults

%p
  All settings for this company will automatically be used for new backlogs for this company.

= form_for(@company, :url => account_company_path(current_account, @company)) do |f|
  - unless @company.errors.blank?
    .form_errors
      We were unable to update the company defaults.  Please correct the following fields first:
      %ul
        - @company.errors.full_messages.each do |error|
          %li
            = error

  = f.label :name, "Company Name"
  .input-row
    = f.text_field :name

  .label-spacer

  = f.label :default_rate, "Default day rate"
  .label-hint
    (your average daily rate without the currency symbol)
  .input-row
    = f.text_field :default_rate

  .label-spacer

  = f.label :default_velocity, "Default velocity achieved per day"
  .label-hint
    (the average velocity each team member achieves per day)
  .input-row
    = f.text_field :default_velocity

  .label-spacer

  .input-row.for-check-box
    = f.check_box :default_use_50_90
    = f.label :default_use_50_90, "By default, use the 50/90 estimation method"
    .label-hint
      (leave this unchecked to use the simpler single score system)

  %br/
  = f.submit "Update company"
  = link_to "cancel", account_path(@company.account)
