- title 'Create a new company account'

- content_for :title do
  %h1 Create a new company account

%p Please do not create a new company account if you believe one already exists.  You must contact us to be added to the existing company account to gain access to the backlogs within that account.

= form_for(@company) do |f|
  - unless @company.errors.blank?
    .form_errors
      The form was not completed correctly.  Please correct the following fields to register:
      %ul
        - @company.errors.full_messages.each do |error|
          %li
            = error
  = f.label :name, "Name"
  = f.text_field :name
  %br/
  = f.label :locale_id, "Locale"
  = select(:company, "locale_id", [[ 'Select a locale...', nil ]].concat(Locale.order("position").map { |p| [ p.name, p.id ] }) )
  %br/
  = f.label :default_rate, "Default rate"
  = f.text_field :default_rate
  %br/
  = f.label :default_velocity, "Default velocity"
  = f.text_field :default_velocity
  %br/
  %br/
  = f.submit "Create new company"
  