- title @company.name

- content_for :title do
  - if @companies_count > 1
    = link_to "View other accounts", companies_path, { :class => 'back' }
  %h1
    = @company.name

%h2
  Backlogs
- if @backlogs.empty?
  %p
    There are no backlogs yet in this account.
- else
  %ul.backlog-list
    - @backlogs.each do |backlog|
      %li
        = link_to backlog.name, company_backlog_path(@company, backlog)
        .last-update= "last updated #{time_ago_in_words(backlog.updated_at)} ago by #{backlog.last_modified_user.name}"
        .action
          (
          = link_to "Delete", company_backlog_path(@company, backlog), :method => 'delete', :confirm => 'Are you sure you want to delete this backlog?  This cannot be undone.'
          |
          = link_to "Duplicate", duplicate_company_backlog_path(@company, backlog)
          )
%br/

= link_to "Create a new backlog", new_company_backlog_path(@company), { :class => 'button' }

#dialog-confirm.dialog{:title=>"Delete backlog?"}
  %p
    %span.ui-icon.ui-icon-alert{:style => "float:left; margin:0 7px 20px 0;"}
    This backlog will be permanently deleted and cannot be recovered. Are you sure?