%h2 
  = @company.name
- if @companies_count > 1
  = link_to "Back to companies", companies_path

%p

%h3
  Backlogs
- if @backlogs.empty?
  %p
    There are no backlogs yet in this account.
- else
  %ul
    - @backlogs.each do |backlog|
      %li
        = link_to backlog.name, company_backlog_path(@company, backlog)
        .small
          = link_to "Delete", company_backlog_path(@company, backlog), :method => 'delete', :confirm => 'Are you sure you want to delete this backlog?  This cannot be undone.'
        .small
          = link_to "Duplicate", duplicate_company_backlog_path(@company, backlog)
%p

= link_to "Create a new backlog", new_company_backlog_path(@company)

#dialog-confirm.dialog{:title=>"Delete backlog?"}
  %p
    %span.ui-icon.ui-icon-alert{:style => "float:left; margin:0 7px 20px 0;"}
    This backlog will be permanently deleted and cannot be recovered. Are you sure?