- columns = 8

%html{:xmlns => "http://www.w3.org/TR/REC-html40", "xmlns:o" => "urn:schemas-microsoft-com:office:office", "xmlns:v" => "urn:schemas-microsoft-com:vml", "xmlns:x" => "urn:schemas-microsoft-com:office:excel"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "Excel.Sheet", :name => "ProgId"}
    %meta{:content => "Microsoft Excel 11", :name => "Generator"}
      /[if gte mso 9]
        <xml>
        <x:ExcelWorkbook>
        <x:ExcelWorksheets>
        <x:ExcelWorksheet>
        <x:Name>Backlog</x:Name>
        <x:WorksheetOptions>
        <x:Selected/>
        <x:FreezePanes/>
        <x:FrozenNoSplit/>
        <x:SplitHorizontal>2</x:SplitHorizontal>
        <x:TopRowBottomPane>2</x:TopRowBottomPane>
        </x:WorksheetOptions>
        </x:ExcelWorksheet>
        </x:ExcelWorksheets>
        </x:ExcelWorkbook>
        </xml>
    - if request.format == 'text/html'
      = include_javascripts :workspace
      = include_javascripts :snapshots
      = include_stylesheets :snapshots, :media => 'all'
      = include_stylesheets :snapshots_print, :media => 'print'
  %body
    #compare-snapshots
      %table
        %tr.header{ :bgcolor => '#000000', :class => 'easybacklogHeader' }
          %td.logo-space{ :colspan => columns, :align => 'left', :style => 'color: #FFF'}
            easyBacklog - Snapshot Comparison
          %td.actions{ :colspan => columns }
            &nbsp;
        %tr.title{:style => 'border-bottom: 1px solid #AAA'}
          %td{:colspan => columns - 4}
            %h3= "#{@base.name}, #{backlog_date @base}"
          %td{:colspan => 4, :align => 'center', :style => 'border-left: 1px solid #CCC; border-right: 1px solid #AAA' }
            %font{:size => 1}
              %div{:style => 'margin-bottom: 5px'}
                Rate:
                = color_number(@comparison, :rate, :base, @base.rate_formatted)
              %div
                Velocity:
                = color_number(@comparison, :velocity, :base, "#{format('%0.1f', @base.velocity)}")
          %td{:colspan => columns - 4}
            %h3= "#{@target.name}, #{backlog_date @target}"
          %td{:colspan => 4, :align => 'center', :style => 'border-left: 1px solid #CCC;' }
            %font{:size => 1}
              %div{:style => 'margin-bottom: 5px'}
                Rate:
                = color_number(@comparison, :rate, :target, @target.rate_formatted)
              %div
                Velocity:
                = color_number(@comparison, :velocity, :target, "#{format('%0.1f', @target.velocity)}")
        %tr{:style => 'border-bottom: 1px solid #AAA; background-color: #EEE;'}
          %th{:style => 'border-left: none; border-right: 1px solid #CCC'} ID
          %th{:style => 'border-right: 1px solid #CCC'}  User Story
          %th{:style => 'border-right: 1px solid #CCC'}  Acceptance Criteria
          %th{:style => 'border-right: 1px solid #CCC'}  Comments
          %th{:style => 'border-right: 1px solid #CCC'}  50
          %th{:style => 'border-right: 1px solid #CCC'}  90
          %th{:style => 'border-right: 1px solid #CCC'}  Cost
          %th{:style => 'border-right: 1px solid #AAA'} Days
          %th{:style => 'border-right: 1px solid #CCC'}  ID
          %th{:style => 'border-right: 1px solid #CCC'}  User Story
          %th{:style => 'border-right: 1px solid #CCC'}  Acceptance Criteria
          %th{:style => 'border-right: 1px solid #CCC'}  Comments
          %th{:style => 'border-right: 1px solid #CCC'}  50
          %th{:style => 'border-right: 1px solid #CCC'}  90
          %th{:style => 'border-right: 1px solid #CCC'}  Cost
          %th Days
        - @comparison.themes.each do |theme|
          = render :partial => 'theme', :locals => { :columns => columns, :theme => theme }