%p.new-account-notice
  %b
    If you would like to set up a new account,
    =link_to 'apply to join our beta programme here.', root_path + '#apply'

= form_for("user", :url => new_user_session_path, :protocol => link_protocol) do |f|
  %p
    = f.label :email
    %br/
    = f.text_field :email
  %p
    = f.label :password
    %br/
    = f.password_field :password
  %p
    = f.check_box :remember_me
    = f.label :remember_me
  = f.submit "Log in"
