.star-burst.less-text
  Apply for a BETA login
= form_for @beta_signup, :url => url_for(@beta_signup) + '#apply', :remote => true do |f|
  .intro
    Until we’re out of beta, we’re limiting access to easyBacklog.  However, if you enter your details below, we’ll put you first in line as we allow more people in and keep you posted (very infrequent emails) on the product progress.
  .error-message
    .container
      - unless @beta_signup.errors.blank?
        .form_errors
          Woops, there was a problem.
          - @beta_signup.errors.full_messages.each do |error|
            = error

  .email
    = f.text_field :email, :value => @beta_signup.email.blank? ? 'Your email address' : @beta_signup.email
  .company
    = f.text_field :company, :value => @beta_signup.company.blank? ? 'Your company name' : @beta_signup.company
  .signup
    = f.submit :value => ''