- if @backlog.archived?
  .not-editable-notice
    This backlog is archived and is not editable.
    %br
    If you would like to make changes to this backlog, change the Backlog Status to Active
- elsif @backlog.is_snapshot?
  .not-editable-notice.snapshot
    Please note that you are viewing a snapshot's settings that are not editable

= f.label :name, @backlog.is_snapshot? ? 'Snapshot name' : 'Name the backlog'
.label-hint
  ("Website build", "iPhone App", etc.)
.input-row
  = f.text_field :name, :class => 'important'

- unless @backlog.is_snapshot?
  .label-spacer

  = f.label :company, "Is this backlog for a client or company other than yours (#{truncate(@backlog.account.name, :length => 40)})?"
  .input-row
    = f.radio_button :has_company?, false
    = label_tag 'backlog_has_company_false', 'No, this is an internal project', :class => 'light', :id => 'has_company_false_label'
  .input-row
    = f.radio_button :has_company?, true
    = label_tag 'backlog_has_company_true', 'Yes, I would like to assign this to a client', :class => 'light', :id => 'has_company_true_label'
  .client-select
    .existing
      = label_tag 'backlog_company_id', 'Which company?'
      .input-row
        = select(:backlog, "company_id", @backlog.account.companies.order("name").map { |p| [ truncate(p.name, :length => 50), p.id ] } )
        .new-company
          or
          = link_to 'add a new company', '#', :id => 'add_new_company'
    .new
      = label_tag 'company_name', 'New company name'
      .input-row
        = text_field_tag :company_name
        .select-existing
          or
          = link_to 'select an existing company', '#', :id => 'select_an_existing_company'


.label-spacer

= f.label :rate, "Rate"
.label-hint
  (your average daily rate without the currency symbol)
.input-row
  = f.text_field :rate

.label-spacer

= f.label :velocity, "Velocity"
.label-hint
  (the average velocity each team member achieves per day)
.input-row
  = f.text_field :velocity

= f.label :scoring_rule, "Scoring rule for stories", :class => 'spacer vtip', :title => 'The scoring rule is used to ensure you enter valid scores when scoring your backlog stories.  You can change this at any point in the future'
- ScoringRule.all.each do |rule|
  .input-row
    = f.radio_button :scoring_rule_id, rule.id, @backlog.scoring_rule_id.blank? ? (rule == ScoringRule.default ? { :checked => 'checked' } : {}) : {}
    = f.label "scoring_rule_id_#{rule.id}", rule.title, :class => 'light'
    .form-hint.inline
      = "(#{rule.description})"

.input-row.for-check-box
  = f.check_box :use_50_90
  = f.label :use_50_90, "Use the 50/90 estimation method"
  .label-hint
    (leave this unchecked to use the simpler single score system)