%tr
  - if theme.stories.empty?
    %td{ :rowspan => 2, :valign => 'top' }
      = theme.name
    %td{ :colspan => 8 }   
      &nbsp;
  - else
    %td{ :rowspan => theme.stories.count + 1, :valign => 'top' }
      = theme.name
    = render :partial => 'table_story', :locals => { :story => theme.stories.first }
    - theme.stories[1..-1].each do |story|
      %tr
        = render :partial => 'table_story', :locals => { :story => story }
%tr
  %td{:colspan => 4, :valign => 'top', :align => 'left', :bgcolor => '#DDDDDD'}
    = "Total for theme '#{theme.name}'"
  %td{:bgcolor => '#DDDDDD', :colspan => 4, :align => 'right' }
    %b
      = "#{format('%0.1f', theme.points)} points"
      = "/ #{theme.cost_formatted}"
      = "/ #{theme.days_formatted} days"
%tr
  %td{:colspan => 8, :height => 5}