%table{:cellspacing => 1, :border => 0}
  %tr
    %td{:colspan => 4}
      %font{:size => '4'}
        %b= backlog.name
    %td{:colspan => total_columns - 4, :align => 'right'}
      = "Rate: #{backlog.rate_formatted}, Velocity: #{backlog.velocity}"
  %tr
    %th{:bgcolor => '#B6F2FA'} Theme
    %th{:bgcolor => '#B6F2FA'} ID
    %th{:bgcolor => '#B6F2FA'} User Story
    %th{:bgcolor => '#B6F2FA'} Acceptance Criteria
    %th{:bgcolor => '#B6F2FA'} Comments
    - if backlog.use_50_90?
      %th{:bgcolor => '#B6F2FA'} 50
      %th{:bgcolor => '#B6F2FA'} 90
    - else
      %th{:bgcolor => '#B6F2FA'} Score
    %th{:bgcolor => '#B6F2FA'} Cost
    %th{:bgcolor => '#B6F2FA'} Days
  = render :partial => 'table_theme', :collection => backlog.themes, :as => :theme, :locals => { :use_50_90 => backlog.use_50_90?, :total_columns => total_columns }
  %tr
    %td{:colspan => total_columns, :height => 5}
  %tr
    %td{:colspan => 4, :valign => 'top', :align => 'left', :bgcolor => '#B6F2FA'}
      %font{:size => '4'}
        %b = "Total for backlog '#{backlog.name}'"
    %td{:bgcolor => '#B6F2FA', :colspan => total_columns - 4, :align => 'right'}
      %font{:size => '4'}
        %b
          = "#{format('%0.1f', backlog.points)} points"
          = "/ #{backlog.cost_formatted}"
          = "/ #{backlog.days_formatted} days"
