%tr
  - if theme.stories.empty?
    %td{ :rowspan => 2, :valign => 'top' }
      = theme.name
    %td{ :colspan => total_columns - 1 }
      &nbsp;
  - else
    %td{ :rowspan => theme.stories.count + 1, :valign => 'top' }
      %b= theme.name
    = render :partial => 'table_story', :locals => { :story => theme.stories.first, :use_50_90 => use_50_90 }
    - theme.stories[1..-1].each do |story|
      %tr
        = render :partial => 'table_story', :locals => { :story => story, :use_50_90 => use_50_90 }
%tr
  %td{:colspan => 3, :valign => 'top', :align => 'left', :bgcolor => '#DDDDDD'}
    = t 'backlog.totals.theme', :default => "Total for theme '#{theme.name}'", :name => theme.name
  %td{:bgcolor => '#DDDDDD', :colspan => total_columns - 4, :align => 'right' }
    %b
      = export_totals(theme)
%tr
  %td{:colspan => total_columns, :height => 5}