#themes-header{ :class => reduced_column_class(backlog) }
  .columns
    .theme
      %div= t 'backlog.theme', :default => 'Theme'
    .unique-id
      %div= t 'backlog.id', :default => 'ID'
    .user-story
      %div= t 'backlog.user_story', :default => 'User Story'
    .acceptance-criteria
      %div= t 'backlog.acceptance_criteria', :default => 'Acceptance Criteria'
    .comments
      %div= t 'backlog.comments', :default => 'Comments'
    - if backlog.use_50_90?
      .score-50
        %div= t 'backlog.points_50', :default => '50'
      .score-90
        %div= t 'backlog.points_90', :default => '90'
    - else
      .score
        %div= t 'backlog.points_heading', :default => 'Points'
    - if backlog.cost_estimatable?
      .cost-formatted
        %div= t 'backlog.cost', :default => 'Cost'
    - if backlog.days_estimatable?
      .days-formatted
        %div= t 'backlog.days', :default => 'Days'
#themes-container{ :class => reduced_column_class(backlog) }
  %div.loading
    %span.progress-icon
    %p
      = "#{t 'backlog.loading', :default => 'Loading'}..."