- title @account.name

!= render :partial => '/accounts/generic_account_info'

%h2
  = "Your archived backlogs"

- if @archives.empty?
  %p
    There are no archives in this account.
- else
  %ul.backlog-list
    - @archives.each do |backlog|
      %li
        .name
          = link_to backlog.name, account_backlog_path(@account, backlog)
        .action
          = link_to "Recover from archive", recover_from_archive_account_backlog_path(@account, backlog), :method => 'put', :title => 'Recover from archive backlog', :class => 'ui-icon ui-icon-extlink vtip'
        .last-update= "last updated #{time_ago_in_words(backlog.updated_at)} ago by #{backlog.last_modified_user.name}"
%br/

= link_to "Back to Dashboard", account_path(@account), { :class => 'button' }