- title 'Create a backlog'
- content_for :head do
  = include_javascripts :validation
  = include_javascripts :manage_backlog

- content_for :title do
  %h1 Create a backlog

= form_for(@backlog, :url => account_backlogs_path(current_account, @backlog)) do |f|
  - unless @backlog.errors.blank?
    .form_errors
      We were unable to create a new backlog.  Please correct the following fields first:
      %ul
        - @backlog.errors.full_messages.each do |error|
          %li
            = error

  != render :partial => 'form', :locals => { :f => f }

  %br/
  = f.submit "Create new backlog"
  = link_to "cancel", account_path(current_account)

:javascript
  $(function() {
    App.Views.BacklogCreateUpdateMethods.initializeManageBacklog();
  });