- title 'View backlog'

#backlog-data-area
  .back-action
    =link_to 'Back to dashboard', company_path(@backlog.company)
  %h2.name
    .data= @backlog.name
  #backlog-settings
    #backlog-rate.rate
      .title Rate:
      .data= @backlog.rate_formatted
    #backlog-velocity.velocity
      .title Velocity:
      .data= @backlog.velocity
  .backlog-stats
    %div.title Backlog total:
    %div.output &nbsp;
  .actions
    = link_to "Export", download_company_backlog_path(@backlog.company, @backlog, @backlog.name.parameterize, :format => :xls), :title => 'Download in Excel format', :class => 'vtip'
    |
    = link_to "Print", download_company_backlog_path(@backlog.company, @backlog, @backlog.name.parameterize, :format => :pdf), :title => 'Print user story cards', :class => 'vtip', :id => 'print'

#backlog-container
  = render :partial => 'themes_container'

:javascript
  $(document).ready(function() {
    App.Collections.Backlogs = new BacklogsCollection({}, { company_id: #{@backlog.company.id} });
    var backlog = new Backlog({ id: #{@backlog.id} });
    App.Collections.Backlogs.add(backlog);
    backlog.fetch({
      success: function(model, response) {
        var view = new App.Views.Backlogs.Show({ model: model, el: $('#backlog-container') });
        view.render();
      },
      error: function() {
        new App.Views.Error({ message: 'The data could not be loaded from the server'});
      }
    });
  });