- title 'View backlog'
- content_for :head do
  = include_javascripts :backlog

- content_for :global_nav_left do
  .logo
    = link_to root_path do
      .icon
    =link_to raw('← Back to dashboard'), account_path(@backlog.account)

- if @backlog.is_snapshot?
  .not-editable-backlog-notice
    .message
      = "You are viewing snapshot “#{truncate(@backlog.name, :length => 30)}”."
      = link_to '← Back', account_backlog_path(@backlog.account, @backlog.snapshot_master)
- elsif @backlog.archived?
  .not-editable-backlog-notice
    .message
      You are viewing a non-editable archive

#backlog-data-area
  .actions
    - if @backlog.snapshot_master.blank?
      = link_to "Export", download_account_backlog_path(@backlog.account, @backlog, @backlog.name.parameterize, :format => :xls), :title => 'Download in Excel format', :class => 'vtip'
      .divider
      = link_to "Print", download_account_backlog_path(@backlog.account, @backlog, @backlog.name.parameterize, :format => :pdf), :title => 'Print user story cards', :class => 'vtip', :id => 'print'
    - else
      = link_to "Export", download_snapshot_account_backlog_path(@backlog.account, @backlog.snapshot_master.id, @backlog.id, @backlog.name.parameterize, :format => :xls), :title => 'Download in Excel format', :class => 'vtip'
      .divider
      = link_to "Print", download_snapshot_account_backlog_path(@backlog.account, @backlog.snapshot_master.id, @backlog.id, @backlog.name.parameterize, :format => :pdf), :title => 'Print user story cards', :class => 'vtip', :id => 'print'
    .divider
    - if @backlog.is_snapshot?
      = link_to 'Snapshot Settings', edit_account_backlog_path(@backlog.account, @backlog)
    - else
      = link_to 'Backlog Settings', edit_account_backlog_path(@backlog.account, @backlog)
  .name-company-container
    %h2.name{ :class => @backlog.editable? ? '' : 'locked'}
      - if @backlog.snapshot_master.blank?
        = truncate(@backlog.name, :length => 40)
      - else
        = truncate(@backlog.snapshot_master.name, :length => 40)
    -if @backlog.company
      %h3.company= truncate(@backlog.company.name, :length => 25)
    -else
      %h3.company= truncate(@backlog.account.name, :length => 25)
  .snapshot
    .title
      =label_tag 'snapshot-selector', 'Snapshot:'
    .selector
      =form_tag :url => '#' do
        %select#snapshot-selector
          %option
            Working version (current)
          %optgroup{ :label => "Snapshots..." }
            - if @backlog.snapshot_master.blank?
              - @backlog.snapshots.each do |snapshot|
                %option{:value => snapshot.id}= "#{truncate(snapshot.name, :length => 30)}, #{backlog_date snapshot}"
            - else
              - @backlog.snapshot_master.snapshots.each do |snapshot|
                %option{:value => snapshot.id, :selected => (snapshot == @backlog ? true : false) }= "#{truncate(snapshot.name, :length => 30)}, #{backlog_date snapshot}"
    - if @backlog.editable?
      .new.vtip{ :title => 'Create new snapshot' }
        %a#new-snapshot.ui-icon.ui-icon-plusthick{:href => create_snapshot_account_backlog_path(@backlog.account, @backlog)}
          New
    .compare.vtip{ :title => 'Compare snapshots' }
      %a#compare-snapshot.ui-icon.ui-icon-transferthick-e-w{:href => create_snapshot_account_backlog_path(@backlog.account, @backlog)}
        New
  .backlog-stats
    %div.title Backlog total:
    %div.output &nbsp;

#backlog-container
  = render :partial => 'themes_container', :locals => { :use_50_90 => @backlog.use_50_90? }

#loading-new-snapshot
  %div.background.ui-widget-overlay
  %div.loading
    %span.progress-icon
    %p
      Loading...
:javascript
  $(document).ready(function() {
    App.Collections.Backlogs = new BacklogsCollection(false, { account_id: #{@backlog.account.id} });
    var backlog = new Backlog(#{embedded_json_safe backlog_json(@backlog)});
    App.Collections.Backlogs.add(backlog);
    var view = new App.Views.Backlogs.Show({ model: backlog, el: $('#backlog-container') });
    view.render();
  });