- title "#{@backlog.name} – #{@backlog.company.present? ? @backlog.company.name : @backlog.account.name}"
- content_for :head do
  = include_javascripts :backlog

- content_for :global_nav_left do
  .logo
    = link_to root_path do
      .icon
    =link_to raw('← Back to dashboard'), account_path(@backlog.account)

- if @backlog.is_snapshot?
  .not-editable-backlog-notice
    .message
      = "You are viewing a snapshot"
      = link_to '← Back', account_backlog_path(@backlog.account, @backlog.backlog_root)
- elsif @backlog.archived?
  .not-editable-backlog-notice
    .message
      You are viewing a non-editable archive

-# Snapshot container appears when user clicks on Snapshots
.snapshot-menu-container
  .selector
    .title
      =label_tag 'menu_snapshot_select', 'Select a snapshot to view:'
    .select
      != render :partial => 'snapshot_select', :locals => { :truncate_at => 35, :select_id=> 'menu_snapshot_select' }
  .button-holder
    %a#new-snapshot.button{:href => create_snapshot_account_backlog_path(@backlog.account, @backlog)} Create new snapshot
  .description
    Creates an exact copy of the current backlog for later reference
  .button-holder
    %a#compare-snapshot.button{:href => create_snapshot_account_backlog_path(@backlog.account, @backlog)} Compare snapshots
  .description
    View changes between the current version and any historical snapshots

#backlog-data-area
  .actions
    .snapshot
      %a#snapshot-menu Snapshots
    .divider
    - if @backlog.snapshot_master.present?
      = link_to "Export", download_snapshot_account_backlog_path(@backlog.account, @backlog.backlog_root.id, @backlog.id, @backlog.name.parameterize, :format => :xls), :title => 'Download Snapshot in Excel format', :class => 'vtip'
      .divider
      = link_to "Print", download_snapshot_account_backlog_path(@backlog.account, @backlog.backlog_root.id, @backlog.id, @backlog.name.parameterize, :format => :pdf), :title => 'Print user story cards', :class => 'vtip', :id => 'print'
    - elsif @backlog.snapshot_for_sprint.present?
      = link_to "Export", download_sprint_snapshot_account_backlog_path(@backlog.account, @backlog.backlog_root.id, @backlog.id, @backlog.name.parameterize, :format => :xls), :title => 'Download Snapshot in Excel format', :class => 'vtip'
      .divider
      = link_to "Print", download_sprint_snapshot_account_backlog_path(@backlog.account, @backlog.backlog_root.id, @backlog.id, @backlog.name.parameterize, :format => :pdf), :title => 'Print user story cards', :class => 'vtip', :id => 'print'
    - else
      = link_to "Export", download_account_backlog_path(@backlog.account, @backlog, @backlog.name.parameterize, :format => :xls), :title => 'Download Backlog in Excel format', :class => 'vtip'
      .divider
      = link_to "Print", download_account_backlog_path(@backlog.account, @backlog, @backlog.name.parameterize, :format => :pdf), :title => 'Print user story cards', :class => 'vtip', :id => 'print'
    .divider
    - if @backlog.is_snapshot?
      = link_to 'Settings', edit_account_backlog_path(@backlog.account, @backlog)
    - else
      = link_to 'Settings', edit_account_backlog_path(@backlog.account, @backlog), :id => 'backlog-settings-link'
  .name-company-container
    %h2.name{ :class => @backlog.editable? ? '' : 'locked'}
      - if @backlog.backlog_root.blank?
        = truncate(@backlog.name, :length => 40)
      - else
        = truncate(@backlog.backlog_root.name, :length => 40)
    -if @backlog.company
      %h3.company= truncate(@backlog.company.name, :length => 25)
    -else
      %h3.company= truncate(@backlog.account.name, :length => 25)
  .backlog-stats
    %div.title Backlog total:
    %div.output &nbsp;

#backlog-tabs
  #add-sprint.vtip{ :title => 'Create sprint' }
    %a.ui-icon.ui-icon-plusthick
  #protect-beneath-tabs
  %ul.infinite-tabs

- if @backlog.backlog_root.present?
  #viewing-snapshot-container
    .title
      =label_tag 'popup_snapshot_select', 'Viewing snapshot:'
    .selector
      != render :partial => 'snapshot_select', :locals => { :truncate_at => 45, :select_id => 'popup_snapshot_select' }

#presence-notifier
#backlog-container
  = render :partial => 'themes_container', :locals => { :use_50_90 => @backlog.use_50_90? }
#sprints-container.contracted-unassigned-stories
#sprints-help-container
#stats-container

#loading-new-snapshot
  %div.background.ui-widget-overlay
  %div.loading
    %span.progress-icon
    %p
      Loading...
:javascript
  $(document).ready(function() {
    if ($.datepicker.regional['#{current_account_locale_code}']) {
      $.datepicker.setDefaults($.datepicker.regional['#{current_account_locale_code}']);
    }

    var router = new App.Routers.Backlog();

    App.Collections.SprintStoryStatuses = new SprintStoryStatusesCollection(#{embedded_json_safe sprint_story_statuses_json});
    App.Collections.Backlogs = new BacklogsCollection(false, { account_id: #{@backlog.account.id} });
    var thisBacklog = new Backlog(#{embedded_json_safe backlog_json(@backlog)});
    App.Collections.Backlogs.add(thisBacklog);

    var backlogData = new App.Views.BacklogDataArea.Show({ model: thisBacklog, router: router, el: $('#backlog-data-area') });
    backlogData.render();
    var sprintTabs = new App.Views.SprintTabs.Index({ collection: thisBacklog.Sprints(), el: $('#backlog-tabs'), router: router });
    sprintTabs.render();
    var presence = new App.Views.BacklogPresence.Show({ model: thisBacklog, name: '#{escape_javascript current_user.name}', el: $('#presence-notifier') });
    presence.render();

    router.setTabsReference(sprintTabs);
    Backbone.history.start();

    // validation only needed for tabs, so load after page is ready
    $('head').append('#{escape_javascript(include_javascripts :validation, :charts)}');
  });