%footer
  © easyBacklog
  = Time.now.strftime('%Y')
  |
  = link_to 'Our Blog', 'http://blog.easybacklog.com/'
  |
  = link_to 'Support', contact_path
  |
  = link_to 'FAQ', faq_path
  |
  = link_to 'Contact Us', contact_path

  %a.feedback-button{ :href => '#feedback' }