.main-title-area
  - if !content_for?(:global_nav_left)
    .logo
      = link_to root_path do
        %span.easy>="easy"
        %span.backlog Backlog
      %sup BETA
    - if !accounts.blank? && accounts.count >= 1
      .divider
      .account
        - if current_account.blank?
          .jump-to-account Jump to Account
        - else
          = link_to truncate(current_account.name, :length => 35), account_path(current_account)
        %ul
          - (accounts - [current_account]).each do |acct|
            %li= link_to truncate(acct.name, :length => 35), account_path(acct)
  - else
    = yield :global_nav_left

.account-info
  - if user_signed_in?
    %div= link_to 'Sign out', destroy_user_session_path
    .divider
    %div= link_to 'My info', edit_user_registration_path
    - if is_account_admin?
      .divider
      %div= link_to 'Users', account_users_path(current_account)
  - else
    -# %div= link_to 'Sign up', new_user_registration_url(:protocol => link_protocol)
    %div= link_to 'Log in', new_user_session_url(:protocol => link_protocol)
    .divider
