%div.main-title-logo
  = link_to 'iBacklog', root_path
  %sup BETA
%div.account-info
  - if user_signed_in?
    = link_to 'My info', edit_user_registration_path
    |
    = link_to 'Sign out', destroy_user_session_path
  - else
    = link_to 'Log in', new_user_session_path
    |
    = link_to 'Sign up', new_user_registration_path