.main-title-area
  .logo
    = link_to root_path do
      %span.easy>="easy"
      %span.backlog Backlog
    %sup BETA
  - if company
    .divider
    .company
      = link_to company.name, company_path(company)
      - if !companies.empty? && companies.count > 1
        %ul
          - (companies - [company]).each do |comp|
            %li= link_to comp.name, company_path(comp)

.account-info
  - if user_signed_in?
    %div= link_to 'Sign out', destroy_user_session_path
    .divider
    %div= link_to 'My info', edit_user_registration_path
    - if is_company_admin?
      .divider
      %div= link_to 'Users', company_users_path(@company)
  - else
    %div= link_to 'Sign up', new_user_registration_path
    .divider
    %div= link_to 'Log in', new_user_session_path
