!!!
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %title
      = (yield(:page_title).length > 0 ? yield(:page_title) : 'Simple backlog management') + ' : easyBacklog'

    = include_javascripts :workspace
    = include_stylesheets :common, :media => 'all'
    /[if lt IE 9]
      = include_javascripts :ie_compatibility
      = include_stylesheets :ie_compatibility, :media => 'all'
    = hoptoad_javascript_notifier
    = csrf_meta_tag
  %body