!!!
!= render :partial => '/layouts/ascii'
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %title
      = (yield(:page_title).length > 0 ? yield(:page_title) : 'Simple backlog management') + ' : easyBacklog'

    = javascript_include_tag "test/jquery.focus.test-fix.js" if Rails.env.test? || Rails.env.cucumber?
    = include_stylesheets :common, :media => 'all'
    /[if lt IE 9]
      = include_stylesheets :ie_compatibility, :media => 'all'
      = include_javascripts :ie_compatibility
    = include_javascripts :workspace
    = hoptoad_javascript_notifier
    = csrf_meta_tag
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11771751-3']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    = yield(:head)
  %body