# encoding: utf-8
!!!
!= render :partial => '/layouts/ascii'
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  - content_for :head do
    = stylesheet_link_tag 'api', :media => 'all'
    = javascript_include_tag 'api'

  != render :partial => '/layouts/head'
  %body
    %header
      != render :partial => '/layouts/api_header'

    %section.content
      %section.title
        = yield(:title)
      - if content_for?(:side_panel)
        %section.side-panel
          = yield(:side_panel)
      %section.main-content-pod
        = yield

    != render :partial => '/layouts/footer'
    != render :partial => '/layouts/user_echo'