# encoding: utf-8
!!!
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %title
      = (yield(:title).length > 0 ? yield(:title) : 'Simple backlog management') + ' : iBacklog'

    = stylesheet_link_tag :all
    = stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.9.custom'
    = javascript_include_tag 'jquery-1.5.min', 'jquery-ui-1.8.9.custom.min', 'rails', 'jquery.jeditable.mini.js', 'application'
    = csrf_meta_tag

  %body
    %div.main-title-logo
      %h1
        =link_to 'iBacklog', root_path
    %div.account-info
      - if user_signed_in?
        Hello #{current_user.name}.
        = link_to 'Update my details.', edit_user_registration_path
        Not you, #{link_to "sign out", destroy_user_session_path }?
      - else
        = link_to 'Log in', new_user_session_path
        |
        = link_to 'Sign up', new_user_registration_path

    %div.body
      #alert-space
        - if notice
          %div.notice
            = notice
        - if alert
          %div.alert
            = alert

      = yield