# encoding: utf-8
!= render :partial => '/layouts/head'

%body
  %header.for-backlog
    .padded-container
      != render :partial => '/layouts/header'

  != render :partial => '/layouts/alert_space'

  %section.content.for-backlog
    %section.title
      = yield(:title)
    %section.main-content-pod
      = yield

  != render :partial => '/layouts/footer'