= f.label :name, "Account Name"
.input-row
  = f.text_field :name
- # We are editing account details so store the original account name as we can ignore that
- if account.id.present?
  = hidden_field_tag :account_name_original, account.name_was

= f.label :locale_id, "What is your preferred language setting?", :class => 'spacer'
.input-row
  = select(:account, "locale_id", [[ 'Select a locale...', nil ]].concat(Locale.order("position").map { |p| [ p.name, p.id ] }) )
  .form-hint.inline
    We use this to ensure currency amounts and formatting is accurate to your locality

- if account.id.present?
  = render :partial => '/_shared/backlog_preferences', :locals => { :context => account, :namespace => 'account', :f => f }

  = f.label :scoring_rule, "Default scoring rule for stories", :class => 'spacer vtip', :title => 'The scoring rule is used to ensure you enter valid scores when scoring your backlog stories.  You can change this at any point in the future'
  - ScoringRule.all.each do |rule|
    .input-row
      = f.radio_button :scoring_rule_id, rule.id, account.scoring_rule_id.blank? ? (rule == ScoringRule.default ? { :checked => 'checked' } : {}) : {}
      = f.label "scoring_rule_id_#{rule.id}", rule.title, :class => 'light'
      .form-hint.inline
        = "(#{rule.description})"

- # if the defaults are not yet set, then indicate this to the view so that Yes, I would like to use estimates is shown by default
= f.hidden_field :defaults_set