- content_for :title do
  = link_to "Manage account", edit_account_path(current_account), :class => 'back'
  - if current_user.accounts.count > 1
    .back
      |
    = link_to "View other accounts", accounts_path, { :class => 'back' }
  %h1
    = truncate(@account.name, :length => 50)

- content_for :side_panel do
  .button-container
    = link_to "Create a new backlog", new_account_backlog_path(@account), { :class => 'button' }
  %h2 Your backlogs
  .your-back-list-side-panel
    - @your_backlogs.each do |company, backlogs|
      .company
        = link_to truncate(company, :length => 33), backlogs.first.company.present? ? edit_account_company_path(@account, backlogs.first.company) : edit_account_path(@account)
      %ul.your-backlog-list
        - backlogs.each do |backlog|
          %li
            .name
              = link_to truncate(backlog.name, :length => 33), account_backlog_path(@account, backlog)
    - if @archive_exists
      .archive-link
        = link_to "View archived backlogs →", archives_account_path(@account)