- content_for :title do
  - if can? :full
    = link_to "Manage account", edit_account_path(current_account), :class => 'back'

  %h1
    = truncate(@account.name, :length => 50)

- content_for :side_panel do
  - if can? :full
    .button-container
      = link_to "Create a new backlog", new_account_backlog_path(@account), { :class => 'button' }
  %h2 Your backlogs
  .your-list-side-panel
    - @your_backlogs.each do |company_or_account, backlogs|
      .company
        = company_or_account_header company_or_account, 33
      %ul.your-backlog-list
        - backlogs.each do |backlog|
          %li
            .name
              = link_to truncate(backlog.name, :length => 33), account_backlog_path(@account, backlog)
    - if @archive_exists
      .archive-link
        = link_to "View archived backlogs →", archives_account_path(@account)