- title @account.name

!= render :partial => 'generic_account_info'

%h2
  = "Your archived backlogs"

- if @archives.empty?
  %p
    There are no archives in this account.
- else
  - @archives.each do |company_or_account, backlogs|
    .dash-board-company
      = company_or_account_header company_or_account, 60
    %ul.backlog-list
      - backlogs.each do |backlog|
        %li
          .name
            = link_to truncate(backlog.name, :length => 50), account_backlog_path(@account, backlog)
          .last-update= "last updated #{time_ago_in_words(backlog.updated_at)} ago by #{backlog.last_modified_user.name}"

= link_to 'â† Back to account dashboard', account_path(@account), { :class => 'button' }