- title 'Edit account'

- content_for :title do
  %h1 Edit account

= form_for(@account) do |f|
  - unless @account.errors.blank?
    .form_errors
      The form was not completed correctly.  Please correct the following fields to register:
      %ul
        - @account.errors.full_messages.each do |error|
          %li
            = error
  != render :partial => 'form', :locals => { :f => f, :account => @account }

  %br/
  %br/
  = f.submit "Update account"
  = link_to 'cancel', account_path(@account)
