- title 'Account'
- if @accounts.blank?
  - content_for :title do
    %h1 You do not have an account
  %h2.divider No account access
  %p
    You do not have access to an account.
    This could be because your account has been deleted, or perhaps you have been removed by an adminstrator of the account you were joined to.
  %p
    If you would like to get access to an existing account, please contact the person who manages the account and request an invite for access.
  %p
    If you think this is an error, please
    = link_to 'contact us for help.', contact_path
  %p
    Or alternatively, if you would like to set up a new account for yourself, please click on the button below.
  %p
    = link_to 'Create a new account', new_account_path, :class => 'button'
- else
  - content_for :title do
    %h1 Multiple accounts

  .accounts-index
    %h2.divider
      Select an account
    %p
      As you have access to more than one account, please select the account dashboard you wish to view.
    %ul
      - @accounts.each do |account|
        %li
          = link_to account.name, account_path(account)
          = "(#{pluralize(account.cnt, 'active backlog')})"