- title 'Create a new account'

- content_for :head do
  = include_javascripts :validation
  = include_javascripts :register

- content_for :title do
  %h1 Create a new account

%p.page-notice Do not create a new account if you believe one already exists for your organisation.  To be added to an existing account, contact the account owner who will invite you into their account.

= form_for(@account) do |f|
  - unless @account.errors.blank?
    .form_errors
      The form was not completed correctly.  Please correct the following fields to register:
      %ul
        - @account.errors.full_messages.each do |error|
          %li
            = error
  != render :partial => 'form', :locals => { :f => f, :account => @account }

  %br/
  %br/
  = f.submit "Create new account"
