- title @account.name

!= render :partial => 'generic_account_info'

%h2
  = "Latest activity across your backlogs"
- if @backlogs.empty?
  %p
    There are no backlogs yet in this account.
- else
  %ul.backlog-list
    - @backlogs.each do |backlog|
      %li
        .name
          = link_to backlog.name, account_backlog_path(@account, backlog)
        .last-update= "last updated #{time_ago_in_words(backlog.updated_at)} ago by #{backlog.last_modified_user.name}"
%br/

= link_to "Create a new backlog", new_account_backlog_path(@account), { :class => 'button' }