- title @account.name

!= render :partial => 'generic_account_info'

%h2.divider
  = "Latest activity across your backlogs"
- if @backlogs.empty?
  %p
    There are no backlogs yet in this account.
- else
  - @backlogs.group_by { |backlog| backlog.company.present? ? backlog.company.name : backlog.account.name }.each do |company, backlogs|
    .dash-board-company= company
    %ul.backlog-list
      - backlogs.each do |backlog|
        %li
          .name
            = link_to backlog.name, account_backlog_path(backlog.account, backlog)
          .last-update= "last updated #{time_ago_in_words(backlog.updated_at)} ago by #{backlog.last_modified_user.name}"

= link_to "Create a new backlog", new_account_backlog_path(@account), { :class => 'button' }